@mixin font($size,$color,$weight,$height){
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
    color:$color;
}

@mixin flex($dir,$jus,$align){
    display: flex;
    flex-direction: $dir;
    justify-content: $jus;
    align-items: $align;
}

@mixin rest{
    display: flex;
    flex-direction: column;
    height: 88vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 24px;
}