@import "../sass/sass.scss";

.ServicesDiv {
  @include rest;
}

.Row {
  @include flex(row, center, normal);
  gap: 20px;
}

.title {
  @include font(24px, white, 700, 31.25px);
}
.cardRow {
  display: flex;
  justify-content: space-around;
  gap: 7px;
}
.smallCard {
  background: #242731;
  padding: 20px 13px;
  border-radius: 4px;
  @include font(20px, #E0E4E7, 700, 26px);

  &:hover {
    background: #a162f7;
    box-shadow: 0px 8px 24px rgba(161, 98, 247, 0.24);
  }
}

.rowA {
  @extend .Row;
  justify-content: flex-start;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.sTextW {
  @include font(20px, white, 700, 26px);
}
.sTextWS {
  @include font(16px, white, 500, 21px);
}
.sTextG {
  @include font(16px, #7c7c8d, 500, 21px);
}

.sTextWQ {
  @include font(16px, #e0e4e7, 500, 21px);
}

.btn {
  @include flex(row, center, center);
  @include font(24px, #ffffff, 700, 31.25px);
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #a162f7;
  border: none;
  text-decoration: none;
  &:hover,
  &:active {
    background-color: #292e3d;
  }
}
.servRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.fText {
  @include font(20px, #ffffff, 700, 26px);
}

.zh2t {
  background: rgba(161, 98, 247, 0.1);
  border-radius: 5px;
  padding: 2px 14px;
  @include font(20px, #a162f7, 700, 26px);
}
