@import "../../../sass/sass.scss";

.row {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.text {
  @include font(13px, white, 500, 17px);
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
