@import "../../sass/sass.scss";

.formDiv {
  @include flex(column, flex-start, none);
  border-radius: 10px;
  margin-top: 10px;
}

.sub {
  @include flex(row, center, center);
  padding: 18px 30px;
  border: 1px solid #323745;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    outline: 2px solid #a162f7;
    transition: 0.2s all linear;
  }
  span {
    margin-left: 12px;
  }
  width: 100%;
  background-color: #a162f7;
  margin-top: 15px;
  @include font(20px, #fffaf7, 700, 24.2px);
}
