@import "../sass/sass.scss";

.SellingDiv {
  @include rest;
}

.Row {
  @include flex(row, center, normal);
  flex-wrap: wrap;
  gap: 20px;
}

.title {
  @include font(30px, white, 700, 39px);
}

.carName {
  @include font(30px, white, 700, 39px);
}

.offerCol {
  @include flex(column, space-around, normal);
  gap: 5px;
}

.text {
  @include font(12px, #e0e4e7, 500, 16px);
}
.textP {
  @include font(14px, #e0e4e7, 700, 18px);
}

.cTextW {
  @include font(20px, #ffffff, 700, 26px);
}

.cTextG {
  @include font(12px, #7c7c8d, 500, 15.62px);
}

.cText1 {
  @include font(20px, #407ef9, 700, 26px);
}
.cText2 {
  @include font(20px, #ff6370, 700, 26px);
}
.cText3 {
  @include font(20px, #a162f7, 700, 26px);
}

.btn {
  padding: 0px 14px;
  border: none;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  @include font(15px, white, 700, 13px);
  &:hover {
    opacity: 80%;
  }
  background: #ff6370;
  box-shadow: 0px 1px 2px rgba(252, 189, 189, 0.25);
  border-radius: 10px;
}
