@import "../../sass/sass.scss";

.btns {
  @include flex(row, space-between, center);
  margin-bottom: 20px;
}
.google,
.fb {
  width: 49%;
  @include flex(row, center, center);
  padding: 18px 30px;
  border: 1px solid #323745;
  border-radius: 8px;
  background-color: transparent;
  @include font(16px, #e0e4e7, 500, 21px);
  &:hover {
    cursor: pointer;
    outline: 2px solid #a162f7;
    transition: 0.2s all linear;
  }
  span {
    margin-left: 12px;
  }
}
.fb {
  background-color: #4776d0;
}
