@import "../../../sass/sass.scss";

.afterForm {
  margin-top: 10px;
  @include flex(row, space-between, center);
  label {
    @include font(16px, #e0e4e7, 500, 21px);
  }
  a {
    @include font(16px, #a162f7, 500, 21px);
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}
.rem {
  @include flex(row, none, center);
}
