@import "../../sass/sass.scss";

.Row2 {
    @include flex(row, normal, flex-end);
    gap: 20px;
    max-width: 55%;
  }
  .text {
    @include font(14px, white, 500, 18px);
  }
  .text1 {
    @include font(20px, white, 700, 26px);
  }
  .text2 {
    @include font(16px, #7c7c8d, 400, 21px);
  }
  .text3 {
    @include font(18px, #e0e4e7, 500, 23px);
  }
  .title {
    @include font(30px, white, 700, 39px);
  }
  .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .begin {
    border: 2px solid #323745;
    @include flex(row, normal, center);
    background-color: #1f2128;
    border-radius: 8px;
    padding: 12px 14px;
    gap: 10px;
    flex:1;
  }
  .search {
    cursor: pointer;
  }
  .searchBar {
    background-color: #1f2128;
    caret-color: #ef9011;
    outline: none;
    border: 0px;
    @include font(16px, #7c7c8d, 500, 21px);
  }
  .btn {
    @include flex(row, normal, center);
    @include font(14px, white, 500, 18px);
    border-radius: 6px;
    padding: 10px;
    transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #292e3d3e;
    border: none;
    text-decoration: none;
    &:hover,&:active {
      background-color: #292e3d;
  }
  }