@import '../../sass/sass.scss';

.title {
  align-self: flex-start;
  margin-bottom: 20px;
}

.reg {
  @include font(18px, #7c7c8d, 400, 23.44px);
}

.med {
  @include font(18px, #a162f7, 500, 27px);
}

.a{
  &:hover{
    cursor: pointer;
    color: white;
  }
}