@import "../../sass/sass.scss";

.Text {
  @include font(20px, #ffffff, 700, 26px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Btn {
  background-color: transparent;
  border-radius: 7px;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  @include font(12px, #7c7c8d, 500, 16px);
  &:hover {
    background-color: rgba(255, 255, 255, 0.099);
  }
}
