@import "../../sass/sass.scss";

.ContactChip {
  @include flex(row, normal, center);
  gap: 15px;
  max-width: 250px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding:10px;
  border-radius: 15px;
  &:hover{
    background-color: rgba(255, 255, 255, 0.062);
  }
}
.col {
  @include flex(column, center, normal);
  flex-grow: 1;
}

.row {
  @include flex(row, space-between, center);
}

.name {
  @include font(16px, white, 700, 21px);
}
.time {
  @include font(13px, #a9abad, 500, 17px);
}
.status {
  @include font(14px, #258c60, 400, 18px);
}
.notif {
  @include font(14px, #ff6370, 400, 18px);
}
