.fc .fc-toolbar-title {
  display: none;
}
.fc .fc-col-header-cell-cushion {
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  background: #549cfd;
  box-shadow: 0px 2px 7px rgba(91, 91, 91, 0.04);
  border-radius: 10px;
  padding: 6px 12px;
}
.fc .fc-col-header {
  width: 100% !important;
  overflow-y: hidden !important;
}
.fc {
  color: white;
}
.fc .fc-timegrid-slot {
  border: 1px solid #2c303d;
}
.fc .fc-scroller {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
thead {
  background: #2884ff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow-y: hidden;
  scrollbar-width: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  box-shadow: 0px 30px 120px rgba(84, 81, 255, 0.21);
  border-radius: 14px;
  padding: 12px;
}
.fc-timegrid-event-harness > .fc-timegrid-event{
  position: unset;
}
.fc-theme-standard th {
  border: none;
}
.fc .fc-scrollgrid-liquid,
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
.fc .fc-scrollgrid-section > * {
  border: none;
}
.fc .fc-timegrid-divider {
  display: none;
}
table {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
.fc-v-event .fc-event-title{
  max-height: unset;
}
tr{
  /* display: flex; */
  min-height: 100%;
  /* flex-direction: row; */
}