@import "../sass/sass.scss";

.divTop {
  @include flex(row, space-between, center);
  background-color: #242731;
  padding: 15px 31px;
  gap: 10px;
}

.end {
  @include flex(row, space-around, center);
  gap: 30px;
}

.begin {
  @include flex(row, center, center);
  background-color: #1f2128;
  border-radius: 8px;
  padding: 12px 14px;
  gap:10px;
}
.search{
    cursor: pointer;
}
.searchBar {
  background-color: #1f2128;
  caret-color: #ef9011;
  outline: none;
  border: 0px;
  @include font(16px, #7c7c8d, 500, 21px);
}

.notif,.avatar{
    cursor: pointer;
    text-decoration: none;
    &:visited{
      text-decoration: none;
    }
}
