@import "../sass/sass.scss";

.dashDiv {
  display: flex;
  flex-direction: column;
  height: 88vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  padding: 20px 0px;
  gap:20px;
}

.firstRow {
  @include flex(row, center, none);
  padding: 0px 20px;
  gap: 20px;
}
.chartBtnRow{
  margin: 10px 0px;
  @include flex(row, flex-start, center);
  gap: 18px;
}

.chartBtn{
  background-color: #2884FF;
  border-radius: 15px;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  transition:0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  @include font(15px, white, 700, 13px);
  &:hover{
    background-color:#a4c8f8; 
  }
}

.cardText {
  @include font(24px, white, 700, 31px);
}

.carText{
  @include flex(row,flex-start,center);
  @include font(16px, #242731, 700, 21px);
  width:100%;
  gap:10px;
}
.carSText{
  @include font(14px, #72767C, 500, 18px);
}

.carTextB{
  @include font(20px, #1F2128, 700, 26.04px);

}
.charText{
  @include font(20px, #FFFFFF, 700, 26px);
}