@import "../sass/sass.scss";

.dashDiv {
  display: flex;
  flex-direction: column;
  height: 88vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  padding: 20px 0px;
  gap: 20px;
}

.Row {
  @include flex(row, center, none);
  padding: 0px 20px;
  gap: 20px;
}



