@import "../sass/sass.scss";

.dashDiv {
  height: 88vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.firstRow {
  @include flex(row, center, none);
  gap: 10px;
}

.cardText {
  @include font(24px, white, 700, 31px);
}
