@import "../sass/sass.scss";

.assetsDiv {
  @include rest;
}

.title {
  @include font(30px, white, 700, 39px);
}

.Text {
  @include font(20px, #ffffff, 700, 26px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  gap: 20px;
}
