@import "../sass/sass.scss";
.div {
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-width: 42%;
  h1 {
    @include font(30px, #ffffff, bold, 39px);
  }
}

.App{
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
